<!-- Lightbox -->
<div x-data="lightbox()" @open-lightbox.window="handleOpen($event)">
    <template x-if="open" x-cloak>

        <div class="fixed inset-0 bg-black bg-opacity-80 flex justify-center items-center">

            <!-- Close button -->
            <button @click="close" class="absolute top-4 right-4 z-50">
                <img src="{{ theme.link }}/assets/img/lightbox_close.svg" alt="Close">
            </button>

            <div class="flex gap-16 items-center justify-center w-full max-h-full px-4">

                <!-- Previous button -->
                <button @click="prev" class="flex items-center gap-2 text-white mr-1">
                    <img src="{{ theme.link }}/assets/img/lightbox_previous.svg" alt="Previous">
                    Précédente
                </button>

                <!-- Image and metadata container -->
                <div class="flex flex-col items-center">
                    <img :src="photos[currentIndex].thumbnail_src" alt="" class="object-contain max-h-[80vh] w-auto">
                    <div class="flex justify-between items-center w-full mt-2">
                        <p class="text-white uppercase font-spacemono text-sm" x-text="photos[currentIndex].reference">
                        </p>
                        <p class="text-white uppercase font-spacemono text-sm" x-text="photos[currentIndex].categorie">
                        </p>
                    </div>
                </div>

                <!-- Next button -->
                <button @click="next" class="flex items-center gap-2 text-white ml-1">
                    Suivante
                    <img src="{{ theme.link }}/assets/img/lightbox_next.svg" alt="Next">
                </button>
            </div>
        </div>
    </template>
</div>

<script>
    function lightbox() {
        return {
            open: false, // Lightbox visibility state
            currentIndex: 0, // Index of currently displayed image
            photos: [
                {% for photo in photos %}
                    {
                        thumbnail_src: '{{ photo.thumbnail.src }}',
                        reference: '{{ photo.meta("reference") }}',
                        categorie:
                            {% for categorie in photo.terms('categorie') %}
                            '{{ categorie }}'
                            {% endfor %}
                    },
                {% endfor %}
            ],

            // Event handler for opening the lightbox
            handleOpen(event) {
                this.currentIndex = event.detail.index;
                this.open = true;
            },
            close() {
                this.open = false;
            },
            next() {
                this.currentIndex = this.currentIndex < this.photos.length - 1 ? this.currentIndex + 1 : 0;
            },
            prev() {
                this.currentIndex = this.currentIndex > 0 ? this.currentIndex - 1 : this.photos.length - 1;
            },
        }
    }
</script>
