<!-- Photo Container -->
<div class="relative aspect-square w-full overflow-hidden group" x-data="{ overlay: false }">

    <!-- Photo -->
    <img src="{{ photo.thumbnail.src }}" alt="" class="w-full h-full object-cover">

    <!-- Overlay -->
    <div x-show="overlay" @mouseenter="overlay = true" @mouseleave="overlay = false"
        class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center gap-4 transition-opacity duration-300 opacity-0 group-hover:opacity-100">

        <!-- More info -->
        <div class="absolute inset-0 w-full flex items-center justify-center">
            <a href="{{ photo.link }}">
                <img src="{{ theme.link }}/assets/img/Icon_eye.svg" alt="Eye Icon" class="w-11 h-auto">
            </a>
        </div>

        <!-- Lightbox Icon -->
        <button
            @click="showLightbox = true"
            title="Open in Lightbox" class="absolute top-3 right-5">
            <img src="{{ theme.link }}/assets/img/Icon_fullscreen.svg" alt="Full-Screen Icon" class="w-9 h-auto">
        </button>

        <!-- Reference -->
        <div class="absolute bottom-3 left-4 text-white font-poppins text-sm uppercase">
            {{ photo.meta('reference') }}
        </div>

        <!-- Category -->
        <div class="absolute bottom-3 right-6 text-white font-poppins text-sm uppercase">
            {% for term in photo.terms('categorie') %}
            {{ term }}
            {% endfor%}
        </div>

    </div>

</div>
