<!-- Photo Container -->
{% set photo_desktop = photo.thumbnail.src('photo-card-desktop') %}
{% set photo_mobile = photo.thumbnail.src('photo-card-mobile') %}


<div class="photo-card relative h-[279px] md:h-[495px] w-full overflow-hidden group" x-data="{ overlay: false }">
    <!-- Photo -->
    <img src="{{ photo_desktop }}"
         srcset="{{ photo_mobile }} 318w, {{ photo_desktop }} 566w"
         sizes="(max-width: 375px) 318px, 566px"
         alt="{{ photo.title }}" 
         class="w-full h-full object-cover">

    <!-- Overlay -->
    <div x-show="overlay" @mouseenter="overlay = true" @mouseleave="overlay = false"
        class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center gap-4 transition-opacity duration-300 opacity-0 group-hover:opacity-100">

        <!-- Link to photo's page -->
        <div class="absolute inset-0 w-full flex items-center justify-center">
            <a href="{{ photo.link }}">
                <img src="{{ theme.link }}/assets/img/Icon_eye.svg" alt="Eye Icon" class="w-7 md:w-11 h-auto">
            </a>
        </div>

        <!-- Open this photo in the lightbox -->
        <button
            {# Open the lightbox with the photo index in the current loop #}
            {# $dispatch permits inter-components communication by dispatching browser events #}
            {# open-lightbox will be dispatched trough the DOM until it reaches the window object #}
            @click.prevent="$dispatch('open-lightbox', { 'index' : {{ index }} })"
            title="Open in Lightbox" class="absolute top-3 right-5">
            <img src="{{ theme.link }}/assets/img/Icon_fullscreen.svg" alt="Full-Screen Icon" class="w-6 md:w-9 h-auto">
        </button>

        <!-- Reference id -->
        <div class="absolute bottom-3 left-4 text-white font-poppins text-xs md:text-sm uppercase"
            data-reference="{{ photo.meta('reference') }}">
            {{ photo.meta('reference') }}
        </div>

        <!-- Category -->
        <div class="absolute bottom-3 right-6 text-white font-poppins text-xs md:text-sm uppercase" 
            data-categorie="{{ photo.terms('categorie')|join(', ') }}" >
            {% for categorie in photo.terms('categorie') %}
                {{ categorie }}
            {% endfor%}
        </div>

    </div>

</div>
