{% extends 'base.twig' %}

{% block content %}

<!-- Single photo container -->
<div class="relative grid grid-cols-1 gap-5 mt-5 
            md:grid-cols-2 md:mt-9 md:border-b md:border-black">

    <!-- Photo (image) -->
    <section class="single-photo-image order-1 md:order-2">
        <!-- TODO : fix image size (create an wp image size for it) -->
        <!-- TODO : add appropriated attibutes -->
        <img src="{{ post.thumbnail.src }}">
    </section>

    <!-- Photo's meta-data -->
    <section class="order-2 font-spacemono font-regular text-sm tracking-widest uppercase flex flex-col gap-4 justify-end items-start md:pb-9
                   md:order-1  md:border-b md:border-black">
        <h1 class="text-5xl italic tracking-normal w-28 [word-break: keep-all] [white-space: normal]">
            {{ post.title}}
        </h1>
        <p>Référence : {{ post.meta('reference') }}</p>
        <p>Catégorie :
            {% for term in post.terms('categorie') %}
            {{ term }}
            {% endfor%}
        </p>
        <p>Format :
            {% for term in post.terms('format') %}
            {{ term }}
            {% endfor%}
        </p>
        <p>Type : {{ post.meta('type') }}</p>
        <p>Année : {{ post.date('Y') }} </p>
    </section>

    <!-- Contact button with photo's reference -->
    <section class="order-3 font-poppins flex flex-col justify-between items-start gap-4 mt-2 mb-6
                        md:flex-row md:mt-4 md:mb-8 md:items-center">

        <hr class="relative w-lvw -left-[16.5%] border-black md:hidden">

        <p class="font-light text-sm md:flex-1">Cette photo vous intéresse ?</p>
        <button type="button" class="font-spacemono font-regular w-full bg-gray-300 rounded-sm h-12 md:w-64">
            Contact
        </button>

        <hr class="relative w-lvw -left-[16.5%] border-black md:hidden">
    </section>

    <!-- Photos navigation -->
    <section class="hidden order-4 md:block ">

        {% include '/components/photos-navigation.twig' %}

    </section>

</div>
<!-- Recommanded photos -->
<section class="p-8">
    <p>Vous aimeriez aussi...</p>
</section>

{% endblock %}
